.navbar-container{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 1rem 0;
    background-color: #333;
}

.logo{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-family: Chivo Mono;
    font-weight: 700;
}

.logo span{
    font-family: Chivo Mono;
}

.nav-links-container{
    display: flex;
    align-items: center;
}

.cart-link{
    display: inline-block;
    padding-left: 20px;
    cursor: pointer;
}

.nav-links, .nav-links-dark{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 20px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.nav-links-dark{
    color: #2D0B09;
}

.nav-links:hover{
    color: var(--primary-color);
}

.nav-links-dark:hover{
    color: var(--primary-color);
}

.background-dark{
    /* background-color: #2D0B09; */
    /* background: rgb(239,198,77);
background: radial-gradient(circle, rgba(239,198,77,1) 8%, rgba(45,11,9,1) 100%); */
background: radial-gradient(circle, rgba(239,198,77,0.7399334733893557) 8%, rgba(45,11,9,0.8799894957983193) 100%);
}

.background-transparent{
    background-color: transparent;
}

.relative{
    position: relative !important;
}

.menu-icon {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000; 
    position: relative; 
  }
  
  .nav-link-container {
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
      /* width: 100vh; */
    }
  
    .nav-link-container {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 1rem 0;
      transition: transform 0.3s ease-in;
      transform: translateY(-100%);
      display: none; /* Initially hide the menu */
      z-index: 999; 
    }
  
    .nav-link-container.active {
      transform: translateY(0);
      display: flex; /* Show the menu when active */
    }
  
    .nav-links, .nav-links-dark {
      padding: 1rem 0;
      display: block;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      transition: 0.2s ease-in;
      cursor: pointer;
    }
  
    .nav-links-dark {
      color: #2D0B09;
    }
  }