.product-listing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    width: 100%;
    /* justify-content: space-between; */
}

.product-listing-img-container {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 20px;
    min-height:18rem;
}

.product-listing-img-container img {
    height: 250px;
    width: auto;
    object-fit: cover;
    box-shadow: -8px 7px 5px 1px rgba(0,0,0,0.44);
-webkit-box-shadow: -8px 7px 5px 1px rgba(0,0,0,0.44);
-moz-box-shadow: -8px 7px 5px 1px rgba(0,0,0,0.44);
}

.product-listing-details-container h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-listing-details-container p {
    margin: 5px 0;
}

.product-listing-details-container  {
    display: inline-block;
    padding: 8px 20px;
    /* background: rgb(239,198,77);
background: linear-gradient(90deg, rgba(239,198,77,1) 0%, rgba(45,11,9,1) 100%); */
    /* background-color: var(--primary-color-bright); */
    color: #fff;
    background: rgb(239,198,77);
    background: linear-gradient(23deg, rgba(239,198,77,0.6699054621848739) 0%, rgba(45,11,9,1) 100%);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 11.5rem;
}

.product-listing-details-conatiner:hover {
    background-color: var(--primary-color);
 
}

.listings-wrapper {
    display: flex;
    overflow-x: auto; /* Horizontal scroll if contents exceed parent width */
    padding: 20px; /* Optional: Add padding as needed */
}
.pricing{
    font-size: large;
    font-weight: bold;
    color: var(--primary-color-bright);
}
.card-btn-container{
    width: 100%;
}
.product-listing-button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-addcart{
    display: inline;
    background-color: var(--primary-color);
    padding: 7px 15px;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;
    text-decoration: none;
    border: 0.5px solid;
    color: rgb(83, 76, 76);  
}
.btn-addcart:hover{
    background-color: #fff;
    box-shadow: 4px 4px 7px #ddd;
    transition: 0.2s ease-in;
    border: none;
}

@media screen and (max-width: 768px) {
    .product-listing-details-container{
        font-size:medium;
    }
    .product-listing-details-container h3{
        font-size: large;
    }
    .btn-addcart:hover{
        background-color: #fff;
        box-shadow: 4px 4px 7px #ddd;
        transition: 0.2s ease-in;
        border: none;
    }
    .product-listing-card {
        margin-bottom:-20px;

    }
}