.search-container{
    width:50%;
    margin:auto;
    padding:5%;
}
.search-container h2{
    text-align: center;
    padding: 10px;
}  


@media only screen and (max-width: 768px) {
    .search-container{
        width:90%;
        margin:auto;
        padding:5%;
    }
h2{
    font-size: 24px;
    margin: 0px -20px;
}
}