/* .grid-container{
    display:grid;
    grid-gap: 5rem;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    display: flex;
    justify-content: center;
} */


.grid-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
